<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>festSelect</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <h4>{{error}}</h4>
    <form method="post">
      <label for="username">Username</label>
      <input type="text" name="username" value="MattA" id="username">
      <br>
      <label for="password">Password</label>
      <input type="password" name="password" value="litmas" id="password">
      <br>
      <button type="submit">Submit</button>
    </form>
    <a href="/signup">Create Account</a>
  </body>
</html>
